<html>
  <head>
    <title>Vue CDN Example</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }

      [v-cloak] {
        display: none
      }

      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>

  <body>
    <!-- v-cloak will hide anything until everything is completely loaded -->
    <div id="app" v-cloak>
      <login-form />

      <input @keyup.enter="greet(message)" v-model="message"/>

      <hr />

      <button @click.prevent="toggleBox">Toggle Box</button>
      <div v-if="isVisible" class="box"></div>

    </div>
  </body>

  <script src="https://unpkg.com/vue@next" ></script>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: "Hello Vue!",
          isVisible: false,
        }
      }, 

      methods: {
        toggleBox() {
          this.isVisible = !this.isVisible
        },

        greet(greeting) {
          console.log(greeting)
        }
      }
   })

   app.component('login-form', {
    template: `
      <form @submit.prevent="handleSubmit">
        <h1>{{title}}</h1> 
        <input type="email" v-model="email" />
        <input type="password" v-model="password"/>
        <button>Log in</button>
      </form>
    `,
    data() {
      return {
        title: 'Login Form',
        email: '',
        password: ''
      }
    },

    methods: {
      handleSubmit() {
        console.log(this.email, this.password);
      }
    }
   })

   app.mount("#app")
  </script>

</html>